.filterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: flex-start;
    padding: 0.8rem;
    width: 100%;
    margin: 0 auto;
}

.filterButton > button {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
}
