* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
}


.container {
    width: 80%;
    margin: 0 auto;
}

