@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --light-bg-color: #A7A399;
    --dark-bg-color: #223237;
    --highlight-color: #F4651E;
    --main-color: #F4F6F3;
    --other-color: #B49358;
  }


* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: var(--main-color);
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

header {
    height:100vh;
}

body{
    background-color: var(--dark-bg-color);
}

.container {
    width: 100vw;
    margin: 0 auto;
    padding: 0.2em;    
}


