.heroPostContainer{
    position: relative;
    margin: 2rem 2rem 1rem 2rem;
}

.heroPostSiteTitle{
    position: absolute;
    top: 4%;
    left: 2%
}

.heroPostCaption{
    position: absolute;
    top: 32%;
    left: 30%;
    text-align: center;
}

.heroPostCaption > h2 {
    font-size: 6rem;
}

.heroPostCaption > h3 {
    font-size: 2rem;
}

.heroPostWeather{
    position: absolute;
    bottom: 4%;
    left: 1%;
    border-top: 2px  var(--other-color) solid;
    border-bottom: 2px  var(--other-color) solid;
}