.navBar {
    width: 100%;
    height: 10%;
    position: relative;
}

.navBar > ul {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 3vh 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 2px  var(--other-color) solid;
}

.navLink {
    text-decoration: none;
}