.routeCards{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.routeCard{
    width: 25%;
    height: 40vh;
    margin: 8px 0;
    padding: 1em;
    align-self: auto;

    border: 2px solid #999;
    border-radius: 2%;

    overflow: hidden;

    transition: height 500ms ease;
}

.routeCardFooter > div {
    position: relative;
    padding: 0.2em;
    height: 0.8em;
}

.routeLink {
    position: absolute;
    top: 0.2em;
}

.routeElevation {
    position: absolute;
    top: 0.2em;
}

.routeDistance {
    position: absolute;
    top: 0.2em;
}

.routeCardFooter > div > a {
    cursor: pointer;
    text-decoration: underline;
}
