.routeCards{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.routeCard{
    width: 25%;
    height: auto;
    margin: 8px 0;
    padding: 1em;
    align-self: auto;

    
    border: 2px solid var(--other-color);
    border-radius: 0%;
}

.routeCardFooter {
    position:relative;
    padding: 0.2em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;

}

.routeLink {
    top: 0.2em;
    align-self: flex-start;

    font-weight: 700;
    text-decoration: underline var(--other-color)
}

.routeStats {
    top: 0.2em;
    align-self: flex-start;
}

.routeCardFooter > div > a {
    cursor: pointer;
    align-self: flex-start;

}
